<section class="actions" aria-label="actions">
  <button
    class="action button button--med button--primary"
    type="button"
    data-form-class="update"
    title="Show edit form"
  >
    Edit
  </button>
  <button
    class="action button button--med button--danger"
    type="button"
    data-form-class="delete"
    title="Show delete form"
  >
    Delete
  </button>
  <button
    class="action button button--med button--warning"
    type="button"
    data-form-class="report"
    title="Show report form"
  >
    Report
  </button>
</section>
