<header class="page__header">
  <nav class="navbar">
    <ul>
      <li>
        <a href="/"> <%- include("../../public/images/icons/logo.svg") %> </a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/api-tests">API Tests</a>
      </li>
    </ul>
  </nav>
</header>
