<title>Bill's Board</title>
<meta name="description" content="A cool thing made with HyperDev" />
<link
  id="favicon"
  rel="icon"
  href="https://s.gravatar.com/avatar/fb992048f304314f31556033159358f7?s=80"
  type="image/x-icon"
/>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/public/styles/style.css" type="text/css" />
<script
  src="https://kit.fontawesome.com/16e6770740.js"
  crossorigin="anonymous"
></script>
