<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head") -%>
  </head>
  <body>
    <div class="page">
      <%- include("../partials/header") -%>
      <div class="page__content">
        <p>
          This began as a freeCodeCamp project for Information Security and
          Quality Assurance. The challenge was to create an API for an Anonymous
          Message Board using Node and Express that fulfills the following user
          stories.
        </p>
        <div id="userstories" style="margin-left: 5%; margin-top: 5%;">
          <h3>User Stories</h3>
          <ol>
            <li>
              Only allow your site to be loaded in an iFrame on your own pages.
            </li>
            <li>Do not allow DNS prefetching.</li>
            <li>
              Only allow your site to send the referrer for your own pages.
            </li>
            <li>
              I can <b>POST</b> a thread to a specific message board by passing
              form data <code>text</code> and <code>password</code> to
              <i>/api/threads/{board}</i>.(Recomend res.redirect to board page
              /b/{board}) Saved will be <code>_id</code>, <code>text</code>,
              <code>created_on</code>(date&amp;time),
              <code>bumped_on</code>(date&amp;time, starts same as created_on),
              <code>reported</code>(boolean), <code>password</code>, &amp;
              <code>replies</code>(array).
            </li>
            <li>
              I can <b>POST</b> a reply to a thead on a specific board by
              passing form data <code>text</code>, <code>password</code>, &amp;
              <code>thread_id</code> to <i>/api/replies/{board}</i> and it will
              also update the bumped_on date to the comments date.(Recomend
              res.redirect to thread page /b/{board}/{thread_id}) In the
              thread's 'replies' array will be saved <code>_id</code>,
              <code>text</code>, <code>created_on</code>, <code>password</code>,
              &amp; <code>reported</code>.
            </li>
            <li>
              I can <b>GET</b> an array of the most recent 10 bumped threads on
              the board with only the most recent 3 replies from
              <i>/api/threads/{board}</i>. The <code>reported</code> and
              <code>passwords</code> fields will not be sent.
            </li>
            <li>
              I can <b>GET</b> an entire thread with all it's replies from
              <i>/api/replies/{board}?thread_id={thread_id}</i>. Also hiding the
              same fields.
            </li>
            <li>
              I can delete a thread completely if I send a <b>DELETE</b> request
              to <i>/api/threads/{board}</i> and pass along the
              <code>thread_id</code> &amp; <code>password</code>. (Text response
              will be 'incorrect password' or 'success')
            </li>
            <li>
              I can delete a post(just changing the text to '[deleted]') if I
              send a
              <b>DELETE</b> request to <i>/api/replies/{board}</i> and pass
              along the <code>thread_id</code>, <code>reply_id</code>, &amp;
              <code>password</code>. (Text response will be 'incorrect password'
              or 'success')
            </li>
            <li>
              I can report a thread and change it's reported value to true by
              sending a
              <b>PUT</b> request to <i>/api/threads/{board}</i> and pass along
              the <code>thread_id</code>. (Text response will be 'success')
            </li>
            <li>
              I can report a reply and change it's reported value to true by
              sending a
              <b>PUT</b> request to <i>/api/replies/{board}</i> and pass along
              the <code>thread_id</code> &amp; <code>reply_id</code>. (Text
              response will be 'success')
            </li>
            <li>
              Complete functional tests that wholely test routes and pass.
            </li>
          </ol>
          <img
            src="https://cdn.gomix.com/8f5547a1-a0d6-48f6-aa38-51753a0105f4%2FScreen%20Shot%202017-01-02%20at%201.04.10%20AM.png"
          />
          <br /><br />
          <h2>
            <a href="/b/general/">Go to testing <i>'/b/general/'</i> board</a>
          </h2>
        </div>
      </div>
      <%- include("../partials/footer") -%>
    </div>
  </body>
</html>
