.board-table {
  --border-radius: 5px;
}
.board-table {
  margin: 2rem auto 1rem;
  border-radius: var(--border-radius);
  box-shadow: inset 0 -3rem 3rem rgba(0, 0, 0, 0.1),
    0 0 0 2px hsla(270, 87%, 57%, 0.25), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.board-table table {
  line-height: 1.5;
  border: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.board-table caption {
  font-size: 1.3rem;
  margin: 0.5rem 0 0.75rem;
}

.board-table thead {
  display: none;
}

.board-table tr {
  background-color: var(--main-bg-color-light);
  padding: 0.75rem;
  display: block;
  margin: 0 auto 0.625rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: inset 0 -3rem 3rem rgba(0, 0, 0, 0.1),
    0 0 0 2px hsla(270, 87%, 57%, 0.25), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
  width: 90%;
}

.board-table tr:last-child {
  margin-bottom: 1.25rem;
}

.board-table td {
  border-bottom: 1px solid hsla(270, 87%, 57%, 0.125);
  display: block;
  font-size: 0.8rem;
  text-align: right;
}

.board-table td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  color: #808080;
  text-transform: uppercase;
}

.board-table td:first-child > a {
  font-weight: 700;
  text-decoration: none;
}

.board-table td:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 600px) {
  .board-table caption {
    font-size: 1.5rem;
  }

  .board-table thead {
    display: table-header-group;
  }

  .board-table th {
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  .board-table tr {
    display: table-row;
    border-bottom: 1px solid hsla(270, 87%, 57%, 0.125);
    border-radius: 0;
    box-shadow: none;
  }

  .board-table th,
  .board-table td {
    padding: 0.625rem;
    text-align: center;
  }

  .board-table td:first-child {
    padding-left: 3%;
    text-align: start;
  }

  .board-table td {
    border-bottom: none;
    display: table-cell;
    font-size: 1rem;
  }

  .board-table td::before {
    display: none;
  }

  .board-table td:first-child > a {
    text-transform: capitalize;
  }
}
