.page {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.page__header {
  position: fixed;
  top: 0;
  z-index: 100;
  height: var(--header-height);
  background: var(--main-bg-color);
  width: 100%;
  max-width: var(--max-page-width);
}

.page__content {
  padding-top: var(--header-height);
  /* margin: var(--header-height) auto 0; */
  margin: 0 auto;
  min-width: calc(320px - 2rem);
  width: 90%;
}
