.reply {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: hsla(270, 87%, 57%, 0.125);
  box-shadow: inset 0 -3rem 3rem rgba(0, 0, 0, 0.1),
    0 0 0 2px hsla(230, 3%, 35%, 0.25), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.reply:last-child {
  margin-bottom: 0;
}

.reply > header {
  display: flex;
  justify-content: flex-end;
}

.reply__text {
  margin: 1rem 0;
}

.reply__replies {
  margin: 1rem 0 0 1rem;
}

.reply__replies > header {
  margin-bottom: 1rem;
}
